DataTable {
    border-title-align: center;
    border-title-style: bold;
    border-title-color: $foreground;
    margin: 3;
    padding: 2;
    width: 75%;
    border: white;
    text-style: bold;
}


DataTable .datatable--header {
    text-style: bold;
    background: $primary;
    color: black;
}

DataTable .datatable--cursor {
    background: $accent 60%;
    text-style: italic underline;
}

Screen {
    position: relative;
    align: center top;
    margin: 3;
}

Vertical {
    margin: 5;
    align: center top;
    width: 75%;
}

Input {
    width: 75%;
}


Label {
    width: 75%;
    padding: 1;
}
